{% extends 'base.html' %}
{% block title %}BlogPost{% endblock title %}
{% block blogactive %}active
{% endblock blogactive %}
{% block body %}
<div class="container my-3">
        {% if user.is_authenticated %}
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
        {% else %}
        <h3>Login to see result</h1>
        {% endif %}
</div>
{% endblock body %}